name: Orchestrate

run-name: ${{ format('Orchestrate - {0}', inputs.branch ) }}

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build (e.g., main)'
        required: false
        default: 'main'
        type: string

# Note: Using @main for workflow refs because GitHub Actions validation doesn't support expressions
# like ${{ inputs.branch }} or ${{ github.event.inputs.branch }} in 'uses' for reusable workflows.
# The branch input is passed to the called workflows for checkout and building.

jobs:
  build-repoA:
    uses: ismenablement/poc2repoA/.github/workflows/build.yml@main
    with:
      branch: ${{ inputs.branch }}
  build-repoB:
    needs: build-repoA
    uses: ismenablement/poc2repoB/.github/workflows/build.yml@main
    with:
      branch: ${{ inputs.branch }}
  build-repoC:
    needs: build-repoA
    uses: ismenablement/poc2repoC/.github/workflows/build.yml@main
    with:
      branch: ${{ inputs.branch }}